<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
<h2>Alunos</h2>
<a th:href="@{/alunos/novo}">Novo Aluno</a>
<table border="1">
    <thead>
    <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Curso</th>
        <th>Cidade</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.matricula}"></td>
        <td th:text="${aluno.nome}"></td>
        <td th:text="${aluno.curso.nome}"></td>
        <td th:text="${aluno.endereco.cidade}"></td>
        <td>
            <a th:href="@{'/alunos/excluir/' + ${aluno.matricula}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
