<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Disciplinas</title>
    <style>
        body {
            background: #f4f6f9;
            font-family: "Segoe UI", sans-serif;
        }

        .container {
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            max-width: 600px;
            text-align: center;
            display: grid;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Disciplinas</h2>
        <a th:href="@{/disciplinas/novo}">Nova Disciplina</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="disciplina : ${disciplinas}">
                    <td th:text="${disciplina.id}"></td>
                    <td th:text="${disciplina.nome}"></td>
                    <td><a th:href="@{'/disciplinas/excluir/' + ${disciplina.id}}">Excluir</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}">Voltar</a>
    </div>
</body>

</html>